body {
  font-family: Helvetica, Arial, Sans-Serif;
}

.outerDiv{
width: 100%;
height: 604px;
float:left;
background:#f0faf1;

}

.leftDiv{
	width:43.5%;
	height:94.2%;
	float:left;
	margin:1.5% 0% 0 1.5%;
}
.rightDiv{
	width:47.5%;
	height:94.2%;
	float:left;
	margin:1.5% 0% 0 6%;
	
}

img{
height:100%;

}


.one{
	
	width:39%;
	height:48%;
	float:left;
	padding:0% 5% 0 4%;
	margin:1% 0% 1% 0%;
	background:#f2f2f2;
	
}

.two{
	
	width:39%;
	height:48%;
	float:left;
	padding:0% 5% 0 4%;
	margin:1% 0% 1% 0%;
	background:#f0faf1;
	
}



.three{
	
	width:39%;
	height:48%;
	float:left;
	padding:0% 5% 0 4%;
	margin:1% 0% 1% 1%;
	background:#f0faf1;
	
}
.four{
	
	width:39%;
	height:48%;
	float:left;
	padding:0% 5% 0 4%;
	margin:1% 0% 1% 1%;
	background:#9fd8a5;
}
p{
font-size:125%;
line-height: 150%;
}
a{
color:black;
}
h3{
font-size:150%;
}
